.
  // Proxy only *.#{conf.tld} requests to hostel
  // Configuration file can be found in ~/.hostel
  function FindProxyForURL (url, host) {
    if (dnsDomainIs(host, '.#{conf.tld}')) {
      return 'PROXY 127.0.0.1:#{conf.port}';
    }

    return 'DIRECT';
  }
