{
  "presets": [
    [
      "@babel/preset-env"
    ],
    [
      "@babel/preset-typescript",
      {
        "allowSyntheticDefaultImports": true
      }
    ],
    [
      "@babel/preset-react"
    ],
    [
      "@babel/preset-flow"
    ]
  ],
  "plugins": [
    [
      "@babel/proposal-object-rest-spread"
    ],
    [
      "@babel/transform-typescript"
    ],
    [
      "@babel/proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/proposal-class-properties",
      {
        "loose": false
      }
    ]
  ]
}